@charset "UTF-8";

body
{
    margin: 0;
    font-family: meiryo;
}

.card
{
    width: 500px;
    margin: 30px auto 80px auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
}

textarea
{
    display: block;
    margin: auto;
    width: 500px;
    height: 300px;
    padding: 0;
    border: none;
    resize: none;
    z-index: 10;
    background-color: transparent;
}

textarea:focus
{
    outline: none;
}

.input-area
{
    border-bottom: 1px dotted black;
}

.output-box
{
    position: relative;
    width: 500px;
    margin: auto;
    transition: height .2s;
}

.output-box .cover
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1C7FE8;
    opacity: 0;
    z-index: -10;
    text-align: center;
    transition: opacity .5s;
    padding-top: 27px;
    box-sizing: border-box;
    color: white;
}

.output-box.small .cover
{
    opacity: 1;
    z-index: 10;
}

.output-box.small
{
    height: 80px;
}

.output-box.small .output-area
{
    height: 80px;
    z-index: -10;
}

.output-box .output-area
{
    transition: height .2s;
}